#body{
	background-image: url(1.jpg);
}
.a {
	margin-top: 40px;
}

h4 {
	margin-top: 20px;
}

.a1 {
	margin-right: 30px;
}

.a2 {
	margin-left: 30px;
}
#time{
	text-align:center;
	height:40px;
	line-height:40px;
	margin-top:50px;
}